<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 style="color:white" class="display-4 fw-normal text-body-emphasis">Каталог</h1>
    <p style="color:white" class="fs-5 text-body-secondary">Все туалеты и сантехника, которая присутсвует в магазине</p>
</div>
<div style="background-color:#76A7B5" class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="col">
            <div style="background:#76A7B5" class="card shadow-sm">
                <a asp-action="Podrobnee">
                    <img class="bd-placeholder-img card-img-top" height="225" src="@Url.Content("~/lib/image/unitaz2.jpg")" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </a>
                <div class="card-body">
                    <h4 style="color:white" class="card-text">Унитаз очень крутой</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" style="background-color:#568087; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Корзина</button>
                        <h5 style="color:white">1000000 $</h5>
                        <button type="button" style="background-color:#2F7AA6; color:white; font-size:large" class="btn btn-sm btn-outline-secondary">Избранное</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
